<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBEING</title>
    <h1>Webeing deploy test</h1>
</head>

<body>

    {% block contents %}
    {% endblock %}
    
</body>

<footer>
    <hr style="margin-top:5rem; width:100%;">

    <h3><a href ="{% url 'index' %}">index</a></h3>
    <h3><a href ="{% url 'ppl' %}">ppl</a></h3>
    <h3><a href ="{% url 'connection' %}">connection</a></h3>

</footer>

</html>